[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-filter = "*"
geopy = "*"
geoip2 = "*"
stripe = "*"
folium = "*"

[dev-packages]

[requires]
python_version = "3.6.5"
