{% extends 'base.html' %}


{% block content %}


<style>
    html {
        font-size: 16px;
    }

    .lot {
        margin: 0px auto;
        max-width: 900px;
    }

    .parking_lot {
        height: 0px;
        width: 900px;
        position: relative;
        overflow: hidden;
        text-align: center;

    }

    .parking_lot:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 500px;
        width: 500px;

    }

    .parking_lot h1 {
        width: 60%;
        margin: 10px auto 35px auto;
    }

    .exit,
    .entery {
        position: relative;
        height: 50px;
    }


    .exit:before,
    .exit:after {
        content: "EXIT";
        font-size: 14px;
        line-height: 18px;
        padding: 0px 2px;
        font-family: "Arial Narrow", Arial, sans-serif;
        display: block;
        position: absolute;
        background: rgb(235, 125, 0);
        color: white;
        top: 50%;
        transform: translate(0, -50%);
    }

    .entery:before,
    .entery:after {
        content: "ENTERY";
        font-size: 14px;
        line-height: 18px;
        padding: 0px 2px;
        font-family: "Arial Narrow", Arial, sans-serif;
        display: block;
        position: absolute;
        background: rgb(0, 141, 235);
        color: white;
        top: 50%;
        transform: translate(0, -50%);
    }

    .exit:before,
    .entery:before {
        left: 0;
    }

    .exit:after,
    .entery:after {
        right: 0;
    }

    .fuselage {
        border-top: 5px solid #d8d8d8;
        border-bottom: 5px solid #d8d8d8;


    }

    ol {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    ol li {
        width: 50%;
        height: 100%;
    }

    .parkings-line {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;

    }

    .parking {
        display: flex;
        flex: 0 0 14.2857142857%;
        padding: 5px;
        height: 60px;


        position: relative;
    }

    .parking:nth-child(4) {
        margin-right: 14.2857142857%;
    }

    .parking input[type=checkbox] {
        position: absolute;
        opacity: 0;
    }

    .parking input[type=checkbox]:checked+label {
        background: #F42536;
        -webkit-animation-name: rubberBand;
        animation-name: rubberBand;
        animation-duration: 300ms;
        animation-fill-mode: both;
    }

    .parking input[type=checkbox]:disabled+label {
        background: #dddddd;
        text-indent: -9999px;
        overflow: hidden;
    }

    .parking input[type=checkbox]:disabled+label:after {
        content: "X";
        text-indent: 0;
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .parking input[type=checkbox]:disabled+label:hover {
        box-shadow: none;
        cursor: not-allowed;
    }

    .parking label {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 2vh;
        font-weight: bold;
        line-height: 1.5rem;
        padding: 10px 0;
        background: #bada55;
        border-radius: 5px;
        animation-duration: 300ms;
        animation-fill-mode: both;
    }

    .parking label:before {
        content: "";
        position: absolute;

        width: 75%;
        height: 75%;
        top: 1px;
        left: 50%;
        transform: translate(-50%, 0%);
        background: rgba(255, 255, 255, 0.4);
        border-radius: 3px;
    }

    .parking label:hover {
        cursor: pointer;
        box-shadow: 0 0 0px 2px #5C6AFF;
    }

    @-webkit-keyframes rubberBand {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        30% {
            -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
        }

        40% {
            -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
        }

        50% {
            -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
        }

        65% {
            -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
        }

        75% {
            -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
        }

        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    @keyframes rubberBand {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        30% {
            -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
        }

        40% {
            -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
        }

        50% {
            -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
        }

        65% {
            -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
        }

        75% {
            -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
        }

        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    .rubberBand {
        -webkit-animation-name: rubberBand;
        animation-name: rubberBand;
    }




    /* PAYMENT CARD */
    @import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");

    :root {

        --left-side: #5de2a3;
        --card: #c7ffbc;
        --card-line: #80ea69;
        --button-color-3: #26850e;
        --button-color-2: #379e1f;
        --button-color-1: #56be3e;
        --post: #dddde0;
        --numbers: #838183;
        --numbers-2: #aaa9ab;
        --post-line: #757375;
        --post-line2: #545354;
        --dollar: #4b953b;
    }

    html {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
    }



    .container {
        background-color: #ffffff;
        display: flex;
        width: 460px;
        height: 190px;
        position: relative;
        border-radius: 6px;
        transition: 0.3s ease-in-out;
    }

    .container:before {
        width: 200vw;
        position: absolute;
        top: 0;
        left: -100vw;
        height: 100%;
        content: "";
    }

    .container:hover {
        transform: scale(1.03);
        width: 220px;
    }

    .container:hover .left-side {
        width: 100%;
    }

    .left-side {
        background-color: var(--left-side);
        width: 130px;
        height: 120px;
        border-radius: 4px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        flex-shrink: 0;
        overflow: hidden;
    }

    .right-side {
        width: calc(100% - 130px);
        display: flex;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
    }

    .right-side:hover {
        background-color: #f9f7f9;
    }

    .arrow {
        width: 20px;
        height: 20px;
        margin-right: 20px;
    }

    .new {
        font-size: 23px;
        font-family: "Lexend Deca", sans-serif;
        margin-left: 20px;
    }

    .card {
        width: 70px;
        height: 46px;
        background-color: var(--card);
        border-radius: 6px;
        position: absolute;
        display: flex;
        z-index: 10;
        flex-direction: column;
        align-items: center;
        -webkit-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
        -moz-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
        -webkit-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
    }

    .icon-cash,
    .icon-cash:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto auto;
        width: 6em;
        height: 3em;
        background: #3E8E3D;
        border: 5px solid #2D722C;
    }

    .icon-cash:before {
        content: "";
        position: absolute;
        top: -1em;
        right: -1em;
        z-index: -1;
    }

    .icon-cash:after {
        content: "\20ac";
        position: absolute;
        top: 0.35em;
        left: 1.5em;
        width: 1.2em;
        height: 1.2em;
        font-size: 1.4em;
        text-align: center;
        color: #1E541D;
        border: 3px solid #1E541D;
        border-radius: 50%
    }

    .card-line {
        width: 65px;
        height: 13px;
        background-color: var(--card-line);
        border-radius: 2px;
        margin-top: 7px;
    }

    @media only screen and (max-width: 480px) {
        .container {
            transform: scale(0.7);
        }

        .container:hover {
            transform: scale(0.74);
        }

        .new {
            font-size: 18px;
        }
    }

    .buttons {
        width: 8px;
        height: 8px;
        background-color: var(--button-color-2);
        box-shadow: 0 -10px 0 0 var(--button-color-3), 0 10px 0 0 var(--button-color-1);
        border-radius: 50%;
        margin-top: 5px;
        transform: rotate(90deg);
        margin: 10px 0 0 -30px;
    }

    .container:hover .card {
        animation: slide-top 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) both;
    }

    .container:hover .post {
        animation: slide-post 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
    }

    @keyframes slide-top {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        50% {
            -webkit-transform: translateY(-70px) rotate(90deg);
            transform: translateY(-70px) rotate(90deg);
        }

        60% {
            -webkit-transform: translateY(-70px) rotate(90deg);
            transform: translateY(-70px) rotate(90deg);
        }

        100% {
            -webkit-transform: translateY(-8px) rotate(90deg);
            transform: translateY(-8px) rotate(90deg);
        }
    }

    .post {
        width: 63px;
        height: 75px;
        background-color: var(--post);
        position: absolute;
        z-index: 11;
        bottom: 10px;
        top: 120px;
        border-radius: 6px;
        overflow: hidden;
    }

    .post-line {
        width: 47px;
        height: 9px;
        background-color: var(--post-line2);
        position: absolute;
        border-radius: 0px 0px 3px 3px;
        right: 8px;
        top: 8px;
    }

    .post-line:before {
        content: "";
        position: absolute;
        width: 47px;
        height: 9px;
        background-color: var(--post-line);
        top: -8px;
    }

    .screen {
        width: 47px;
        height: 23px;
        background-color: #ffffff;
        position: absolute;
        top: 22px;
        right: 8px;
        border-radius: 3px;
    }

    .numbers {
        width: 12px;
        height: 12px;
        background-color: var(--numbers);
        box-shadow: 0 -18px 0 0 var(--numbers), 0 18px 0 0 var(--numbers);
        border-radius: 2px;
        position: absolute;
        transform: rotate(90deg);
        left: 25px;
        top: 52px;
    }

    .numbers-line2 {
        width: 12px;
        height: 12px;
        background-color: var(--numbers-2);
        box-shadow: 0 -18px 0 0 var(--numbers-2), 0 18px 0 0 var(--numbers-2);
        border-radius: 2px;
        position: absolute;
        transform: rotate(90deg);
        left: 25px;
        top: 68px;
    }

    @keyframes slide-post {
        50% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        100% {
            -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
        }
    }

    .dollar {
        position: absolute;
        font-size: 16px;
        font-family: "Lexend Deca", sans-serif;
        width: 100%;
        left: 0;
        top: 0;
        color: var(--dollar);
        text-align: center;
    }

    .container:hover .dollar {
        animation: fade-in-fwd 0.3s 1s backwards;
    }

    @keyframes fade-in-fwd {
        0% {
            opacity: 0;
            transform: translateY(-5px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }



    .qr-code {
        max-width: 200px;
        margin: 10px;
    }


    input:invalid+span:after {
        position: absolute;
        content: '✖';
        padding-left: 5px;
        color: red;
        padding: 10px 0;
    }

    input:valid+span:after {
        position: absolute;
        content: '✓';
        padding-left: 5px;
        color: green;
        padding: 10px 0;
    }

    label {
        color: gray;
        font-size: 1.5vh;
    }

    .input {
        border: none;
        border-width: 0;
        font-size: 2vh;

        box-shadow: none;
        padding: 10px;
        border-bottom: 1px solid #53b2ac;
        margin-bottom: 10%;
    }

    .input:focus {
        border: none;
        border-width: 0;
        box-shadow: none;
        outline: none;
        border-bottom: 1px solid #387773;
        background-color: rgba(250, 250, 250, 0.733);
    }

    .input:hover {
        cursor: pointer;
    }

    input[type="time"]::-webkit-calendar-picker-indicator {
        filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
    }

    input[type="time"]::-webkit-datetime-edit-minute-field {
        background: white;
        color: transparent;
        margin-left: -3px;
        position: absolute;
        width: 1px;
    }

    .img-reserve {
        display: inline-block;
        width: 100%;
        height: 300px;
        position: absolute;
        left:0px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<div style="display:flex; flex-direction:row;">
    <div class="card" style="box-shadow:none;background-color:transparent; width: 190rem;">

        <div class="card-body">
            <div hidden="hidden" class="img-reserve"><img src="https://image.freepik.com/free-vector/reserve-parking-space-curbside-pickup-abstract-concept-illustration-customer-walk-pickup-station-customers-arrival-keep-employees-safe-small-business_335657-3337.jpg" alt="">  </div>


            <div style="margin-top:20px;" class="lot">
                <div class="parking_lot">

                </div>
                <div>
                    <input id="available_parkings" hidden="hidden" value={{available_parkings}} />



                    <form method="POST">
                        {% csrf_token %}

                        <h1 class="card-title" style="font-size:6vh;color:#168edf">{{lot.name}} <a href="#"><i
                                    class="fa fa-map-marker" aria-hidden="true"></i></a></h1>
                        <div class="card-subtitle mb-2 text-muted">
                            <h4 style="display:inline-block;margin-right:20px"><i class="fas fa-dollar-sign    "> =
                                    {{prices.0}}</i></h4>
                            <input hidden="hidden" name="price" value={{prices.0}}>
                            <h4 style="display:inline-block; font-weight:600">Re-entery allowed? = </h4>
                            <h4 style="display:inline-block;margin-right:20px">{{reentery}}</h4>

                        </div>
                        <hr>
                        <input class="input" style="display:inline-block" hidden="hidden" name="price"
                            value={{prices.0}}>
                        <input hidden="hidden" value="{{lot.id}}" name="lot">
                        <section>
                            <div style="float:left;margin-right:20px;">
                                <label style="display: block;" for="timeFrom">From</label>
                                <input class="input" type="time" step="3600" value="{{timeFrom}}" id="timeFrom"
                                    name="timeFrom" min="6:00" max="21:00"> <span style="margin-right:20px"
                                    class="validity"></span>
                            </div>
                        </section>
                        <section>
                            <div style="float:left;margin-right:20px;">
                                <label style="display: block;" for="timeFrom">To</label>
                                <input class="input" type="time" step="3600" value="{{timeTo}}" id="timeTo"
                                    name="timeTo" min="6:00" max="21:00"> <span style="margin-right:20px"
                                    class="validity"></span>
                            </div>
                        </section>
                        <section>
                            <div style="float:left;margin-right:20px;">
                                <label style="display: block;" for="timeFrom">Date</label>
                                <input class="input" style="margin-right:20px" name="date" id="date" value="{{date}}"
                                    type="date">
                            </div>
                        </section>


                </div>
                <button style="width:100%;margin-top:17px;" id="available-parking-btn"
                    onclick="this.form.action='available'" type="submit" class="btn btn-outline-success">
                    Show Available Parkings
                </button>

                <input hidden="hidden" type="text" name="checked-parking"
                    id="checked-parking" /><br /><br /><br /><br />




                <ol class="lot-area fuselage">
                    <div class="entery entery--back "></div>
                    <li class="row row--1">

                        <ol style="text-align: center;list-style-position: inside;" class="parkings-line" type="A">
                            {% if not zipped %}
                            <h1>No available parkings</h1>
                            {% endif %}
                            {% for parking_status, parking_name in zipped%}
                            <li class="parking">
                                {% if parking_status == 1 %}
                                <input type="checkbox" disabled id="{{parking_name}}" />
                                {% else %}
                                <input class="all-parkings" onclick="$('#checked-parking').val($(this).attr('id'));"
                                    type="checkbox" id="{{parking_name}}" />
                                {% endif %}
                                <label for="{{parking_name}}">{{parking_name}}</label>

                            </li>
                            {% endfor %}
                        </ol>
                    </li>

                    <div class="exit exit--back ">

                </ol><br /><br />

                <button style="width:100%" onclick="this.form.action='reserve/'" type="submit"
                    class="btn btn-outline-success">
                    Reserve Parking
                </button>
                <button class="payment">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_51IrvjPJRtXQC3iPwA5g9Y8dybrT69HdWtkgWtFwWLdEDWzJ3k43nqy8SWncIL67W0HJgTtQLsbLeLt5BNLI9AQoT00geQW4qrF"
                    data-description="A Parkly Charge"
                    data-amount="5000"
                    data-locale="auto">
                    receipt_email='fhd684@gmail.com'
                    </script>
                    </button>
                </form>
                <br /><br />



            
           

               


                <script>
                    $(".payment").click( function(){
                        console.log("HEEEEEEEEERRRRRRRRREEEEEEEEEEEE")
                        this.form.action='charge/'
                    })
                    $('.all-parkings').on('change', function () {
                        $('.all-parkings').not(this).prop('checked', false)
                    })

                </script>
                </script>
                <script>
                    function htmlEncode(value) {
                        return $('<div/>').text(value).html();
                    }

                    $(function () {
                        $("#generate").click(function () {
                            $(".qr-code").attr("src", "https://chart.googleapis.com/chart?cht=qr&chl=" + htmlEncode({{ user.id }} + (Math.floor(Math.random() * 1000))) + "&chs=160x160&chld=L|0");
            });
        });
                </script>
                <div class="container-fluid">
                    <div class="text-center">
                        <img hidden="hidden"
                            src="https://chart.googleapis.com/chart?cht=qr&chl=Hello+World&chs=160x160&chld=L|0"
                            class="qr-code img-thumbnail img-responsive">
                    </div>






                    <div class="container">
                        <div class="left-side">
                            <div class="card">
                                <div class="card-line"></div>
                                <div class="buttons"></div>
                            </div>
                            <div class="post">
                                <div class="post-line"></div>
                                <div class="screen">
                                    <div class="dollar">$</div>
                                </div>
                                <div class="numbers"></div>
                                <div class="numbers-line2"></div>
                            </div>
                        </div>
                        <div class="right-side">
                            <div class="new">Pay by card</div>

                            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="512" height="512"
                                viewBox="0 0 451.846 451.847">
                                <path
                                    d="M345.441 248.292L151.154 442.573c-12.359 12.365-32.397 12.365-44.75 0-12.354-12.354-12.354-32.391 0-44.744L278.318 225.92 106.409 54.017c-12.354-12.359-12.354-32.394 0-44.748 12.354-12.359 32.391-12.359 44.75 0l194.287 194.284c6.177 6.18 9.262 14.271 9.262 22.366 0 8.099-3.091 16.196-9.267 22.373z"
                                    data-original="#000000" class="active-path" data-old_color="#000000"
                                    fill="#cfcfcf" />
                            </svg>

                        </div>
                    </div>
                    <br>

                    <div class="container">
                        <div class="left-side">
                            <div><span class="icon-cash"></span>

                            </div>
                            <div class="post">
                                <div class="post-line"></div>
                                <div class="screen">
                                    <div class="dollar">$</div>
                                </div>
                                <div class="numbers"></div>
                                <div class="numbers-line2"></div>
                            </div>
                        </div>
                        <div class="right-side">
                            <div class="new">Cash On Delivery</div>

                            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="512" height="512"
                                viewBox="0 0 451.846 451.847">
                                <path
                                    d="M345.441 248.292L151.154 442.573c-12.359 12.365-32.397 12.365-44.75 0-12.354-12.354-12.354-32.391 0-44.744L278.318 225.92 106.409 54.017c-12.354-12.359-12.354-32.394 0-44.748 12.354-12.359 32.391-12.359 44.75 0l194.287 194.284c6.177 6.18 9.262 14.271 9.262 22.366 0 8.099-3.091 16.196-9.267 22.373z"
                                    data-original="#000000" class="active-path" data-old_color="#000000"
                                    fill="#cfcfcf" />
                            </svg>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    {% endblock %}