<style>
    body {
        background-color: #f9f9fa
    }

    .padding {
        padding: 3rem !important
    }

    .user-card-full {
        overflow: hidden
    }

    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        border: none;
        margin-bottom: 30px;
        width: 70vw;
        height: 30vw;
    }

    .m-r-0 {
        margin-right: 0px
    }

    .m-l-0 {
        margin-left: 0px
    }

    .user-card-full .user-profile {
        border-radius: 5px 0 0 5px
    }

    .bg-c-lite-green {
   
     background-image:url("https://image.freepik.com/free-vector/self-driving-car-with-sensors-automatically-parked-parking-lot-self-parking-car-system-self-parking-vehicle-smart-parking-technology-concept-bright-vibrant-violet-isolated-illustration_335657-918.jpg");
    background-size:cover;
    height: 30vw;
    }

    .user-profile {
        padding: 20px 0
    }

    .card-block {
        padding: 1.25rem
    }

    .m-b-25 {
        margin-bottom: 25px
    }

    .img-radius {
        border-radius: 5px
    }

    h6 {
        font-size: 14px
    }

    .card .card-block p {
        line-height: 25px
    }
    

    @media only screen and (min-width: 1400px) {
        p {
            font-size: 20px
        }

    }

    .card-block {
        padding: 1.25rem
    }

    .b-b-default {
        border-bottom: 1px solid #e0e0e0
    }

    .m-b-20 {
        margin-bottom: 20px
    }

    .p-b-5 {
        padding-bottom: 5px !important
    }

    .card .card-block p {
        line-height: 25px
    }

    .m-b-10 {
        margin-bottom: 10px
    }

    .text-muted {
        color: #919aa3 !important
    }

    .b-b-default {
        border-bottom: 1px solid #e0e0e0
    }

    .f-w-600 {
        font-weight: 600
    }

    .m-b-20 {
        margin-bottom: 20px
    }

    .m-t-40 {
        margin-top: 20px
    }

    .p-b-5 {
        padding-bottom: 5px !important
    }

    .m-b-10 {
        margin-bottom: 10px
    }

    .m-t-40 {
        margin-top: 20px
    }

    .user-card-full .social-link li {
        display: inline-block
    }

    .user-card-full .social-link li a {
        font-size: 20px;
        margin: 0 10px 0 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out
    }
</style>

{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card user-card-full" style=" ">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile" style=" ">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img
                                        src="{{user.img}}"
                                        width="130px" height="130px"style="border-radius:50%" class="img-radius"
                                        alt="User-Profile-Image"> </div>
                                <h2 style=" text-shadow: 2px 2px rgb(201, 201, 201);color:rgb(241, 241, 250)" class="f-w-600">{{user.username}}</h2>
                                <p style="font-size: 2vh; ">Pro member <i style="color:yellow" class="fa fa-star" aria-hidden="true"></i></p> <i
                                    class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block" >

                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">First Name</p>
                                        <h6 class="text-muted f-w-400">{{user.first_name}}-</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Last Name</p>
                                        <h6 class="text-muted f-w-400">{{user.last_name}}-</h6>
                                    </div>
                                    </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">{{user.email}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Phone</p>
                                        <h6 class="text-muted f-w-400">{{profile.contact_number}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Location</p>
                                        <h6 class="text-muted f-w-400">{{profile.location}}</h6>
                                    </div>
                                </div>

                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Reservations</h6>
                                <div style="margin-bottom:30px;"class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Recent</p>
                                        <h6 class="text-muted f-w-400">North Mall</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Frequent</p>
                                        <h6 class="text-muted f-w-400">Fish market</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Wallet</h6>
                                <div style="margin-bottom:30px;"class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Card</p>
                                        <h6 class="text-muted f-w-400">564*************</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Points</p>
                                        <h6 class="text-muted f-w-400">0</h6>
                                    </div>
                                </div>
                                <form method="GET">
                                    {% csrf_token %}
                                <input  class="btn btn-outline-primary" type="submit" onclick="this.form.action='profile/edit'"value="Edit profile">
                                <input id="deactivate-btn"type="submit" class="btn btn-outline-danger"onclick="this.form.action='profile/delete'"value="Deactivate account">
                                <script>
                                    $("#deactivate-btn").click(function(){

                                    })
                                </script>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}